<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Pilot</th>
			<th>No. of Flights</th>
			<th>Hours of flying</th>
		</tr>
	</thead>
	<tbody>
		<% pilots.each do | pilot | %>
			<tr>
				<td><%= "#{pilot.first_name} #{pilot.last_name}" %></td>
				<td><%= pilot.flights.count %></td>
				<td><%= number_with_precision(pilot.flights.sum("total_flight_time"), :precision => 2) %></td>
			</tr>
		<% end %>
	</tbody>
</table>