<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Platform</th>
			<th>Flights</th>
			<th>Hours</th>
			<th>Last Flown</th>

		</tr>
	</thead>
	<tbody>
		<% platforms.each do | platform | %>
			<tr>
				<td><%= platform.name %></td>
				<td><%= platform.flightcount %></td>
				<td><%= number_with_precision(platform.flighttime, :precision => 2) %></td>
				<td><%= "#{platform.lastflightdate.day}-#{platform.lastflightdate.month}-#{platform.lastflightdate.year}" %></td>
			</tr>
		<% end %>
	</tbody>
</table>

